.footer {
  height: 450px;
  width:100%;
  box-shadow: 0px -3px 2px #eee;
  padding: 100px 0px 0px 0px;
}

.footer a {
  text-decoration: none;
  line-height: 23px;
  color:#aaa;
}

.footer a:hover {
  text-decoration: underline;
}

/* Footer - About */
.footer-about{
  width:30.5%;
  height:250px;
}

/* Footer - Links */
.footer-links{
  width:30%;
  height:250px;
  
  /*border:1px solid red;*/
}

.footer-links-50{
  width:50%;
  padding: 0px 20px;
  /*border:1px solid blue;*/
}


.footer-bot, .footer-top {
  display: flex;
  justify-content: space-between;
  width:100%;
}


@media screen and (max-width: 1000px) {
  .footer-top {
    flex-direction:column
  } 
  .footer-about{
    width:100%;
  }
  .footer-links{
    width:100%;
    padding:0px;
  }
  .footer-links-50{
    padding:0px;
  }
}