.footer {
  height: 450px;
  width:100%;
  box-shadow: 0px -3px 2px #eee;
  padding: 100px 0px 0px 0px;
}

.footer a {
  text-decoration: none;
  line-height: 23px;
  color:#aaa;
}

.footer a:hover {
  text-decoration: underline;
}

/* Footer - About */
.footer-about{
  width:70%;
  height:250px;
  
  /*border:1px solid red;*/
}

/* Footer - Links */
.footer-links{
  width:30%;
  height:250px;
  
  /*border:1px solid red;*/
}

.footer-links-50{
  width:50%;
  padding: 0px 20px;
  /*border:1px solid blue;*/
}