/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&family=Roboto+Mono&display&family=Poppins:wght@400;500&display=swap');

* {
  margin:0;
  padding:0;
  
  font-family: 'Poppins', sans-serif;
  box-sizing:border-box;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Typography */


h1 {
  font-family: 'Poppins', sans-serif;
  font-size:36px;
  font-weight:400;
  
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size:22px;
  font-weight:400;
  margin: 20px 0px;
}


h3 {
  font-family: 'Spartan', sans-serif;
  font-size:18px;
  font-weight:600;
  color: #666
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-size:14px;
  font-weight:400;
  color: #72757a;
  margin-top:20px;
}

a {
  font-family: 'Poppins', sans-serif;
  color: #1967D2;
  text-decoration: underline;
}


/* Placement & Designs */



.container-80 {
  width:80%;
  margin:auto;
}

.container-85 {
  width:85%;
  margin:auto;
}

.divider {
  height:50px;
  border-bottom: 5px solid #4285f4;
  margin: 30px 40px;
}

.spacing {
  height:20px;
  
  /*border:1px solid #00ff80;*/
}

.left {
  float:left;
}

.right {
  float:right;
}


@media screen and (max-width: 1500px) {
  .container-85 {
    width: 100%;
  }
}
